@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
h3,h4,h5,h6{
    margin:0
}

.container{
    width: 100%;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-animation: cssAnimation 0.5s forwards;
    animation: cssAnimation 0.5s forwards;
}

.podiumContainer{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.first,.second,.third{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(251,72,83,255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: none;
}

.first{
    width: 36%;
    text-align: center;
    height: 220px;
}

.second{
    height: 170px;
    width: 32%;
    text-align: center;
}

.third{
    height: 130px;
    width: 32%;
    text-align: center;
}

.position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    align-self: flex-start;
    font-family: 'Nunito'
}
.name{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first>.name>h5{
    background: linear-gradient(-45deg, #c9b547 25%, #2e2e2e 25%, #2e2e2e 50%, #c9b547 50%, #c9b547 75%, #2e2e2e 75%, #2e2e2e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20px 20px;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
    font-family: 'Bungee Shade';
    font-size: 20px;
}
.second>.name>h5{
    background: linear-gradient(-45deg, #709cad 25%, #2e2e2e 25%, #2e2e2e 50%, #709cad 50%, #709cad 75%, #2e2e2e 75%, #2e2e2e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20px 20px;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
    font-family: 'Bungee Shade';
    font-size: 20px;
}
.third>.name>h5{
    background: linear-gradient(-45deg, #aa3e00 25%, #2e2e2e 25%, #2e2e2e 50%, #aa3e00 50%, #aa3e00 75%, #2e2e2e 75%, #2e2e2e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20px 20px;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
    font-family: 'Bungee Shade';
    font-size: 20px;
}
.score{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Teko';
    font-size: 22px;
    color: rgba(251,72,83,255);
}

.otherContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #3A6073;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.other{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: 'Nunito';
    border-bottom: 1px solid rgba(251,72,83,255);
    color: white;
    box-shadow: 0px 3px 4px rgb(66, 66, 66);
}
.otherName{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}
.otherName>h5{
    margin-left: 5px;
}

@keyframes stripes {
    100% {
        background-position: 20px 0, 20px 0, 20px 0;
   }
}

@keyframes cssAnimation {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    50% {opacity: 0.5;}
    70% {opacity: 0.7;}
    100% {opacity: 1;}
}

@-webkit-keyframes cssAnimation {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    50% {opacity: 0.5;}
    70% {opacity: 0.7;}
    100% {opacity: 1;}
}