@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-animation: cssAnimation 0.5s forwards;
    animation: cssAnimation 0.5s forwards;
}

.container>.contador{
    position: absolute;
    bottom: 17%;
    display: flex;
    gap: 2px;
}

@keyframes cssAnimation {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    50% {opacity: 0.5;}
    70% {opacity: 0.7;}
    100% {opacity: 1;}
}

@-webkit-keyframes cssAnimation {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    50% {opacity: 0.5;}
    70% {opacity: 0.7;}
    100% {opacity: 1;}
}