@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
.container{
    width: 100%;
    background-color: transparent;
    height: 10vh;
    box-shadow: 0px 5px 8px rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
}
.navigation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    gap: 20px;
}

.home{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items:center;
}
.home>h1{
    font-size: 20px;
    margin: 0px;
    font-family: 'Nunito';
    font-weight: 800;
    color:#3A6073 
}
.links{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
}
.play,.rank{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    color:#3A6073 
}

.play>h3,.rank>h3{
    font-family: 'Nunito';
    font-size: 13px;
}
.rank>i{
    color: rgb(233, 218, 0);
    font-size: 18px;
    margin-bottom: 5px;
}
.play>i{
    color: indigo;
    font-size: 20px;
}
.user{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}
.user>.login{
    margin-right: 10px;
    color:#3A6073 
}
.login:hover{
    cursor: pointer;
}
.logOutContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Nunito';
}
.logOutContainer>.logout{
    margin-right: 10px;
    color:#3A6073 
}
.logout:hover{
    cursor: pointer;
}